.content{
	background: #F9CB9C;
	margin: 30px 10px 30px 10px;
	border:25px solid purple;
}
.box{
	text-align: center;
	background:white;
	border:2px dashed green;
	margin: 25px 20px 60px 90px;
	padding: 8px;
}

	